* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container input,
.input-container button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

.input-container button {
  color: #fda085;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.input-container button:hover {
  color: white;
  background: #fda085;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  display: flex;
  font-size: 1.5rem;
  color: black;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.todo li {
  flex: 1;
}

.checked-btn,
.delete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
}

.checked-btn {
  background: rgb(11, 212, 162);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fade-out {
  transform: translateZ(2rem);
  opacity: 0;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.selector {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  padding: 1rem;
}

/* Arrow */
.selector::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

.side-note {
  color: black;
  width: 30%;
  padding: 0;
  padding-left: 15px;
  margin-left: 15px;
  margin-right: 10px;
  float: right;
  font-style: italic;
  font-weight: bold;
  background-color: #f6d365;
  border-radius: 15px 50px 30px;
  position: fixed;
  right: 0;
  bottom: 10px;
}

.storage-clear-btn {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 5px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ff6f47;
}

@media only screen and (max-width: 680px) {
  header {
    font-size: 1rem;
  }

  form {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-container {
    display: flex;
  }

  .input-container input,
  .input-container button {
    width: 200px;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background: white;
  }

  .input-container button {
    width: 30px;
    display: flex;
    justify-content: center;
  }

  .selector {
    height: 27px;
    margin: 0.8rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  .selector::after {
    content: "\25BC";
    background: #ff6f47;
    padding: 0px 4px;
    height: 27px;
  }

  .todo {
    height: 35px;
  }

  .checked-btn,
  .delete-btn {
    height: 35px;
    display: flex;
    align-items: center;
  }

  .side-note {
    display: flex;
    align-items: center;
    float: none;
    width: 300px;
    height: 10vh;
    padding: 2px 6px;
    font-size: 10px;
    background-color: #f6d365;
    position: fixed;
    right: 0;
    bottom: 10px;
  }

  .storage-clear-btn {
    font-size: 0.8rem;
    font-weight: 200;
    padding-right: 10px;
    margin-left: 5px;
    margin-bottom: 4px;
    padding: 2px;
    border-radius: 20px;
    background: #ff6f47;
  }
}
